################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS/.vs/LMS/v15/Server/sqlite3
