@model List<LMSBL.DBModels.TblQuiz>
@{
    ViewBag.Title = "MyAssignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>My Learning</h4>

<body>
    <div class="main-container container">
        

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Quiz Name</th>
                    <th scope="col">Quiz Description</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {var index = 0;
                    foreach (var quiz in Model)
                    {index++;
                        <tr>
                            <th scope="row">@index</th>
                            <td>@quiz.QuizName</td>
                            <td>@quiz.QuizDescription</td>

                            <td>                               
                                <a href="@Url.Action("LaunchQuiz", "Assignment", new { QuizId = quiz.QuizId })">
                                    <button type="button" class="btn text-center btn-warning">
                                        Launch
                                    </button>
                                </a>                                
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</body>